<div class="read-more">
  {% if page.previous %}
  <div class="read-more-header">
    <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">Next Post</a>
  </div><!-- /.read-more-header -->
  <div class="read-more-content">
    <h3><a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></h3>
    <p>{% if page.previous.description %}{{ page.previous.description }}{% else %}{{ page.previous.content | strip_html | strip_newlines | truncate: 140 }}&hellip;{% endif %} <a href="{{ site.url }}{{ page.previous.url }}">Continue reading</a></p>
  </div><!-- /.read-more-content -->
  {% endif %}

  <div class="read-more-list">
    <div class="list-item">
      {% if page.next %}
      <h4>
        <a href="{{ site.url }}{{ page.next.url }}" class="btn btn-info">Previous Post</a><br/>
        <a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a>
      </h4>
      <span>Published on {{ page.next.date | date: "%B %d, %Y" }}</span>
      {% else %}
      <h4>
        <a href="{{ site.url }}/about/" class="btn btn-info">About</a><br/>
        <a href="{{ site.url }}/about/" title="About Jihun">About Jihun</a>
      </h4>
      <span>Published on {{ "1992-02-11 00:00:00 +0900" | date: "%B %d, %Y" }}</span>
      {% endif %}
    </div><!-- /.list-item -->

    <div class="list-item">
      <!-- <br/>
      <h4><a href="{{ site.url }}/posts/">All Posts</a></h4>
      <br/>
      <h4><a href="{{ site.url }}/tags/">All Tags</a></h4> -->
      <br/>
      <a href="{{ site.url }}/posts/" class="btn btn-info">All Posts</a><br/>
      <a href="{{ site.url }}/tags/" class="btn btn-info">All Tags</a><br/>
    </div><!-- /.list-item -->
  </div><!-- /.read-more-list -->
</div><!-- /.read-more -->
